<!DOCTYPE html>
<html lang="en">
  <head>
       {{>headLink}}

  </head>
  <body>
    <!-- navbar section -->
    {{>navbar}}

    <!-- main content section -->
    <div class="container-fluid">
      <div class="row">
        <div class="cd-md-10 col-12 mx-auto">
          <div class="row">
            <!-- right section -->
            <div class="col-md-6 main_header_right align-item-center">
                <figure>
                    <img src="./images/about2.png" alt="" class="img-fluid">
                  </figure>
              
            </div>

            <!--left section  -->
            <div class="col-md-6 main_header_left">
                <p><span class="sp-1">Kakashi Hatake</span> the sixth Hokage.</p>
                <h1>we're the one to <span class="sp-3">endure…</span>We are <span class="sp-2">Ninja</span>.</h1>
                <a href="/whether"><button class="btn">About me!</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer section -->
    {{>footer}}
  </body>
</html>
